<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard-guest</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
      <link href="{%static 'owner/css/styles.css'%}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body >
<div class="container mt-5">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>

        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div><h2><em>Your bookings</em></h2></div>
            {%if messages%}
                {%for m in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{m}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>

    </div>
    <div class="row">
        <div class="col-2"></div>
            <div class="col-8">
            {%if bookings%}
                <table class="table">

                    <tr>
                        <th>Room name</th>
                         <th>Hotel</th>
                        <th>Status</th>
                        <th>price of adult</th>
                        <th>price of child</th>
                        <th>stay start</th>
                        <th>stay end</th>

                        <th>Adult</th>
                        <th>Child</th>
                        <th>No of days</th>
                        <th>Total price</th>




                    </tr>
                    {%for booki in bookings%}
                    <tr>
                         <td>{{booki.room.room_name}}</td>
                        <td>{{booki.room.hotel}}</td>
                          <td>{{booki.status}}</td>
                        <td>{{booki.room.price_of_adult }}</td>
                         <td>{{booki.room.price_of_child }}</td>
                        <td>{{booki.stay_start_date}}</td>
                        <td>{{booki.stay_end_date}}</td>
                        <td>{{booki.occupancy_adult}}</td>
                         <td>{{booki.occupancy_child}}</td>
                        <td>{{booki.no_of_days}}</td>
                        <td>{{booki.total}}</td>


                        {%if booki.status == "Pending"%}
                    <td>
                        <a href="{%url 'guest-edit-booking' booki.id%}" class="btn btn-outline-info">Edit</a>
                         </td>
                        <td>
                    <a href="{%url 'delete-booking' booki.id%}" class="btn btn-outline-danger">Delete</a>
                    </td>



                    </tr>
                    {%endif%}


                    {%endfor%}

                </table>

                {%else%}
                <h2 class="text-danger">No bookings added</h2>
                {%endif%}

        </div>
        <div class="col-2"></div>
    </div>
</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{%static 'owner/js/scripts.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{%static 'ownerjs/datatables-simple-demo.js'%}"></script>
</body>
</html>
