<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - Hotel</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
       <link href="{%static 'owner/css/styles.css'%}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <table class="table">
                <tr>
                    {%if active%}
                    <th>Guest Name</th>
                    <th>Mobile</th>
                    <th>Guest name(offline)</th>
                    <th>Guest mob(offline)</th>
                    <th>Room</th>
                    <th>stay_start_date</th>
                    <th>stay_end_date</th>
                    <th>Adult</th>
                    <th>Child</th>
                    <th>Hotel</th>
                   <th>Status</th>
<!--                    <th>No of days</th>-->
                    <th>Total price</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
                {%for a in active%}
                <tr>
                    <td>{{a.bookingss.guest}}</td>
                    <td>{{a.bookingss.guest.mobile}}</td>
                    <td>{{a.bookingss.guest_name}}</td>
                    <td>{{a.bookingss.guest_mobile}}</td>
                    <td>{{a.bookingss.room}}</td>
                    <td>{{a.bookingss.stay_start_date}}</td>
                    <td>{{a.bookingss.stay_end_date}}</td>
                    <td>{{a.bookingss.occupancy_adult}}</td>
                    <td>{{a.bookingss.occupancy_child}}</td>
                    <td>{{a.bookingss.room.hotel}}</td>
                    <td>{{a.bookingss.status}}</td>
<!--                    <td>{{a.bookingss.no_of_days}}</td>-->
                    <td>{{a.bookingss.total}}</td>

                    <td>{{a.date}}</td>
                    <td>{{a.status}}</td>

                </tr>
                 <td>

                        <a href="{%url 'edit-active-booking' a.id%}" class="btn btn-outline-info">Edit</a>
                         </td>

                {%endfor%}

            </table>
              {%else%}
                <h2 class="text-danger">No bookings added</h2>
                {%endif%}
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
</body>
</html>