<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - Hotel</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
       <link href="{%static 'owner/css/styles.css'%}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
 <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            {%if messages%}
                {%for m in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{m}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
            {%endif%}
        </div>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <table class="table">
                <tr>
                {%if active%}
                    <th>Guest Name</th>
                    <th>Mobile</th>
                    <th>Guest name(offline)</th>
                    <th>Guest mob(offline)</th>
                    <th>Room</th>
                    <th>Status</th>
<!--                    <th>stay_start_date</th>-->
<!--                    <th>stay_end_date</th>-->
                    <th>Adult</th>
                    <th>Child</th>
                    <th>Hotel</th>
<!--                    <th>No of days</th>-->
                    <th>Total price</th>
                    <th>Date</th>
                    <th>Status</th>

                </tr>
                {%for a in active%}
                <tr>
                    <td>{{a.bookingss.guest}}</td>
                    <td>{{a.bookingss.guest.mobile}}</td>
                    <td>{{a.bookingss.guest_name}}</td>
                    <td>{{a.bookingss.guest_mobile}}</td>
                    <td>{{a.bookingss.room}}</td>
                    <td>{{a.bookingss.status}}</td>
<!--                    <td>{{a.bookingss.stay_start_date}}</td>-->
<!--                    <td>{{a.bookingss.stay_end_date}}</td>-->
                    <td>{{a.bookingss.occupancy_adult}}</td>
                    <td>{{a.bookingss.occupancy_child}}</td>
                    <td>{{a.bookingss.room.hotel}}</td>
<!--                    <td>{{a.bookingss.no_of_days}}</td>-->
                    <td>{{a.bookingss.total}}</td>

                    <td>{{a.date}}</td>
                    <td>{{a.status}}</td>


                </tr>

                <td>
                    <a href="{%url 'active' a.id%}" class="btn btn-outline-success">Active</a>
                </td>
 <td>
     {%if a.status == "Pending"%}
                    <a href="{%url 'del' a.id%}" class="btn btn-outline-success">Delete</a>
                </td>
                  {%endif%}
  <td>
      {%if a.status == "Active"%}
                        <a href="{%url 'complete' a.id%}" class="btn btn-outline-success">Complete</a>

                         </td>

                {%endif%}
                {%endfor%}

            </table>
              {%else%}
                <h2 class="text-danger">No bookings added</h2>
                {%endif%}
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{%static 'owner/js/scripts.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{%static 'ownerjs/datatables-simple-demo.js'%}"></script>
</body>
</html>
