<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="{%static 'owner/css/styles.css'%}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{%url 'admin-home'%}">Admin dashboard </a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                   aria-describedby="btnNavbarSearch"/>
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="{%url 'logout'%}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>

        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div><h2><em>Rooms Available</em></h2></div>
            {%if messages%}
                {%for m in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{m}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>

    </div>
    <div class="row">
        <div class="col-2"></div>
            <div class="col-8">
                 {%if roomss%}
                <table class="table">
                    <tr>
                        <th>Room name</th>
                        <th>Status</th>
                        <th>price of adult</th>
                        <th>price of child</th>
                        <th>Hotel</th>
                        <th>occupancy_adult</th>
                        <th>occupancy_child</th>



                    </tr>
                    {%for r in roomss%}
                    <tr>
                        <td>{{r.room_name}}</td>
                         <td>{{r.availability}}</td>
                         <td>{{r.price_of_adult}}</td>
                         <td>{{r.price_of_child}}</td>
                        <td>{{r.hotel}}</td>
                         <td>{{r.occupancy_adult}}</td>
                         <td>{{r.occupancy_child}}</td>
                         <td> <a href="{%url 'room-edit' r.id %}" class="btn btn-outline-warning">Edit</a></td>
                         <td> <a href="{%url 'admin-delete-room' r.id %}" class="btn btn-outline-warning">Delete</a></td>


                    </tr>
                    {%endfor%}
                </table>
                {%else%}
                <h2 class="text-danger">No Room added</h2>
                {%endif%}
        </div>
        <div class="col-2"></div>
    </div>
</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{%static 'owner/js/scripts.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{%static 'ownerjs/datatables-simple-demo.js'%}"></script>
</body>
</html>
